# CODEOWNERS for gpuep/hip-compiler-v2
#
# Format: <pattern> <owner1> <owner2> ...
# Last-matching pattern wins. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @ilango100 @asparkhi @sambanerxilinxamd
