[submodule "third_party/ChezScheme"]
	path = third_party/ChezScheme
	url = https://github.com/cisco/ChezScheme.git
[submodule "third_party/rime"]
	path = third_party/rime
	url = https://github.com/wcy123/rime.git
